@import "../styles.scss";

.login-page {
  overflow: hidden;
  .login-container {
    @include mx-flexbox();
    height: 100vh;
    background-color: var(--color-background);
    color: var(--black-white);
    .login-box {
      border: solid();
      padding: 20px;
      padding-top: 0;
      h1 {
        text-align: center;
      }
      form {
        display: flex;
        flex-direction: column;
        border: solid();
        padding: 15px;
        margin: 15px 0;
        label {
          margin: 10px 0 5px 0;
        }
        input {
          border: 0;
          border-bottom: solid();
          color: var(--black-white);
          background-color: transparent;
        }
        .block-login-btn {
          @include mx-flexbox(around, start);
          margin: 20px 0;
          button {
            width: 80px;
            height: 25px;
            border: solid();
            background-color: $white;
            &:active {
              background-color: $gray;
            }
          }
        }
      }
    }
  }
}

.error-blank {
  color: #ff0000;
  animation: shake 0.2s;
  animation-iteration-count: 5s;
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4px);
  }
}
