@import "../styles.scss";

.page-main {
  padding: 50px 0;
  margin: 70px 0 0 0;
}
.btn-main-swapview {
  @include mx-flexbox();
  width: 40px;
  height: 40px;
  border: 0;
  @include mx-round(10px);
  margin: 0 0 0 300px;
  background-color: $white;
  svg {
    width: 30px;
    height: 30px;
  }
  &:hover {
    background-color: $gray;
  }
}
.slide-box {
  width: 1650px;
  margin: 0 auto;
  overflow: hidden;
}
.slidetest {
  @include mx-flexbox(start);
  width: 1650px;
  transform: translateX(-500px);
  .slide-hidden {
    transform: scale(0.5);
  }
  button {
    height: 50px;
    border: 0;
    border-radius: $radius;
    @extend %btn-hoverActive;
  }
  button:first-child {
    margin: 0 8px 0 0;
  }
  button:nth-child(2) {
    margin: 0 0 0 8px;
  }
  .slide-left,
  .slide-right {
    transform: scale(0.5);
  }
}

/*-----왼쪽으로 이동------*/
.move-slideL {
  @include mx-movepost(slideMoveL, 0, -562px, 1, 0.5);
}
.move-slideR {
  @include mx-movepost(slideMoveR, 0, -562px, 0.5, 1);
}
.move-slideH {
  @include mx-movepost(slideMoveH, 0, -502px, 0.5, 0.5);
}
.move-slideO {
  @include mx-movepost(slideMoveO, 0, -1000px, 0.5, 0.5);
}

/*-----왼쪽으로 이동------*/

.move-Lslide {
  @include mx-movepost(LslideMove, 0, 562px, 1, 0.5);
}
.move-Rslide {
  @include mx-movepost(RslideMove, 0, 500px, 0.5, 0.5);
}
.move-Hslide {
  @include mx-movepost(HslideMove, 0, 502px, 0.5, 0.5);
}
.move-Oslide {
  @include mx-movepost(OslideMove, 0, 562px, 0.5, 1);
}
