.page-main {
  height: 100%;
  padding: 50px 0;
  margin: 70px 0 0 0;
  font-size: 14px;
}

.block-outter {
  margin: 0 auto;
  height: 800px;
  width: 500px;
  border: 1px solid;
  padding: 5px 0 0 0;
}

.block-inner {
  width: 450px;
  height: 500px;
  margin: 0 auto;
}

.block-statusbox {
  display: flex;
  flex-direction: column;
  height: 250px;
}
.block-statusbox p {
  margin: 0;
}

.block-userstatus,
.block-poststatus,
.block-textarea {
  border: 1px solid;
  margin: 5px 0;
  padding: 3px;
}

.block-userstatus {
  display: flex;
}
.block-poststatus {
  display: flex;
}

.btn-likes-01-off {
  width: 50px;
  height: 20px;
  margin: 0 10px;
  text-align: center;
  transition: all 0.2s ease;
}
.block-poststatus-send,
.block-poststatus-date {
  width: 70px;
  height: 20px;
  margin: 0 10px;
  border: 1px solid;
  padding: 1px;
  text-align: center;
}
.block-poststatus-report {
  background-color: aquamarine;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 20px;
  width: 20px;
}
.block-poststatus-report-animate {
  transform: scale(1);
  animation: pulse 0.5s ease alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.block-textarea {
  flex-grow: 1;
}
