@import "../styles.scss";

.page-post {
  display: flex;
  padding: 50px 0;
  margin: 70px 0 0 0;
  .block-post-inner {
    @include mx-flexbox();
    width: $full;
    height: fit-content;
    margin: 20px 0 0 0;
    .block-post-container {
      display: flex;
      position: relative;
      height: fit-content;
      padding: 20px;
      border: solid();
      background-color: var(--color-element);
      .block-post-absolute {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -60px;
        top: 20px;
        height: fit-content;
        button {
          height: 50px;
          width: 80px;
          padding: 0;
          margin: 5px 0;
          color: $gray;
          transition: all 0.1s ease-in;
          cursor: pointer;
          &:hover {
            color: var(--black-white);
            background-color: var(--white-black);
          }
        }
      }
      .block-post-content {
        margin: 0 20px;
        padding: 0 10px;
        h2 {
          color: var(--black-white);
        }
        textarea {
          width: 500px;
          height: 200px;
          padding: 10px;
          border: solid();
          @include font-style(middle, var(--black-white));
          background-color: var(--color-element);
          resize: none;
        }
        input[type="text"] {
          width: 500px;
          height: 30px;
          padding: 0 10px;
          border: solid();
          color: var(--black-white);
          background-color: var(--color-element);
          &:focus {
            outline: none;
          }
        }
        p {
          margin: 0;
          font-size: 12px;
          color: $coolblue;
        }

        input {
          width: 200px;
        }

        .block-post-preview {
          @include mx-flexbox();
          min-height: 200px;
          width: 500px;
          margin: 10px 0 0 0;
          padding: 10px;
          border: solid();
          div {
            position: relative;
            margin: 0 5px;
            @include size(80px, 80px);
            &:hover button {
              display: block;
            }
            button {
              display: none;
              position: absolute;
              right: 0;
              @include size(15px, 15px);
              padding: 0;
              border: 0;
              color: $white;
              background-color: $transparent-66;
            }
            .img-post {
              @include size(80px, 80px);
            }
          }
        }
      }
    }
  }
}

.tag-example {
  color: #ff0000;
  animation: shake 0.2s;
  animation-iteration-count: 5s;
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4px);
  }
}
