@import "../getscss.scss";

.page-post {
  display: flex;
  padding: 50px 0;
  margin: 70px 0 0 0;
  .block-post-inner {
    display: flex;
    justify-content: center;
    width: $full;
    height: fit-content;
    margin: 20px 0 0 0;
    .block-post-container {
      display: flex;
      position: relative;
      padding: 20px;
      border: solid();
      height: fit-content;
      .block-post-absolute {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -60px;
        top: 20px;
        height: fit-content;
        button {
          height: 50px;
          width: 80px;
          padding: 0;
          margin: 5px 0;
          color: #c0c0c0;
          transition: all 0.1s ease-in;
          cursor: pointer;
          &:hover {
            color: var(--black-white);
            background-color: var(--white-black);
          }
        }
      }
      .block-post-content {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        padding: 0 10px;
        h2 {
          color: var(--black-white);
        }
        textarea {
          width: 500px;
          height: 200px;
          padding: 10px;
          border: solid();
          font-size: 18px;
          color: var(--black-white);
          background-color: var(--color-background);
          resize: none;
          &:focus {
            outline: none;
          }
        }
        input[type="text"] {
          width: 500px;
          height: 30px;
          padding: 0 10px;
          border: solid();
          color: var(--black-white);
          background-color: var(--color-background);
          &:focus {
            outline: none;
          }
        }
        p {
          margin: 0;
          font-size: 12px;
          color: $tooltip;
        }
        .block-post-imgInput {
          display: flex;
          justify-content: space-between;
          .btn-post-ImgConfirm {
            width: 70px;
            height: 20px;
            padding: 0;
            border: solid();
            color: var(--white-black);
            background-color: var(--black-white);
            font-size: 12px;
          }
        }
        .block-post-preview {
          display: flex;
          align-items: center;
          min-height: 200px;
          width: 500px;
          margin: 10px 0 0 0;
          padding: 10px;
          border: solid();
          .block-post-img {
            position: relative;
            margin: 0 5px;
            @include mx-size(0, 80px, 80px);
            &:hover {
              button {
                display: block;
              }
            }
            button {
              display: none;
              position: absolute;
              right: 0;
              @include mx-size(0, 15px, 15px);
              padding: 0;
              border: 0;
              color: $white;
              background-color: #00000066;
              line-height: 10px;
            }
            .img-post {
              @include mx-size(0, 80px, 80px);
            }
          }
        }
      }
    }
  }
}

.tag-example {
  color: #ff0000;
  animation: shake 0.2s;
  animation-iteration-count: 5s;
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4px);
  }
}
