@import "../getscss.scss";

.page-profile {
  @extend %page-start;
  padding: 0;
  .block-profile-inner {
    display: flex;
    width: fit-content;
    height: 100%;
    margin: automargin();
  }
}

.block-profile-left {
  position: fixed;
  width: 340px;
  height: 100%;
  background-color: var(--color-background);
  padding: 100px 29px;
  color: var(--black-white);
  @include mx-border("right");
  @include mx-border("left");
  .block-profile-0 {
    .block-profile-photo {
      @extend %position-center;
      height: 150px;
      width: 150px;
      margin: automargin();
      border: solid();
      border-radius: 50%;
      background-color: $white;
      svg {
        height: 100px;
        width: 100px;
      }
    }
    .block-profile-name {
      margin: automargin();
      padding: 10px;
      text-align: center;
      .block-profile-id {
        p {
          font-size: 25px;
          margin: 10px 0;
        }
        .block-profile-int {
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
  .block-profile-1 {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0 0;
    border-top: solid();
    border-bottom: solid();
    p {
      text-align: center;
    }
  }
  .block-profile-2 {
    margin: 20px 0;
    padding: 10px;
    .btn-profile-post {
      margin: 10px;
      height: 40px;
      width: 300px;
      padding: 5px 5px 0 5px;
      border: solid();
      border-radius: $radius;
      background-color: var(--black-white);
      color: var(--white-black);
      font-size: 13px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      &:active {
        transform: translateY(1px);
      }
    }
  }
}

.block-profile-right {
  height: fit-content;
  width: 800px;
  padding: 0 0 0 400px;
  @include mx-border("right");
  .block-profile-post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
