@import "../getscss.scss";

.search-page {
  margin: 80px 0 0 0;
  padding: 30px 0 0 0;
  .block-search-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: automargin();
    .block-search-post {
      margin: 0 20px;
    }
  }
}
