@import "../getscss.scss";

$setting-padding: 20px;

.page-settings {
  @extend %page-start;
  .block-settings-inner {
    display: flex;
    @include mx-size(0, 700px, 700px);
    margin: automargin();
    border: solid();
    .block-settings-left {
      @include mx-size(0, 200px, 100);
      border: solid();
      text-align: center;
      h2 {
        margin: 50px 0;
      }
      ul {
        position: relative;
        margin: 100px 0;
        padding: 0;
        list-style-type: none;
        li {
          padding: 10px 0;
          margin: 10px 0;
          cursor: pointer;
          /* &:hover {
            background-color: var(--black-white);
            color: var(--white-black);
          } */
        }
      }
    }
    .block-settings-right {
      @extend %position-center;
      @include mx-size(0, 500px, 100);
      padding: $setting-padding;
      border: solid();
      .block-settings-setting {
        @include mx-size(0, 100%, 100%);
        border: solid();
      }
    }
  }
}

.move {
  position: relative;
  top: -250px;
  @include mx-size(0, 100%, 50px);
  background-color: $black;
  border: 1px solid;
}
