@import "../styles.scss";

$setting-padding: 20px;

.page-settings {
  @extend %page-start;
  color: var(--black-white);
  .block-settings-inner {
    display: flex;
    @include size(700px, 700px);
    margin: automargin();
    border: solid();
    background-color: var(--color-element);
    .block-settings-left {
      @include size(200px, auto);
      text-align: center;
      h2 {
        margin: 50px 0;
      }
      ul:not(last-child) {
        margin: 100px 0;
        padding: 0;
        list-style-type: none;
        li {
          position: relative;
          padding: 10px 0;
          margin: 10px 0;
          cursor: pointer;
          & {
            &:hover {
              background-color: var(--black-white);
              color: var(--white-black);
              &::after {
                position: absolute;
                top: 50%;
                right: -25px;
                width: 0;
                height: 0;
                content: "";
                border-bottom: 20px solid transparent;
                border-top: 20px solid transparent;
                border-left: 10px solid var(--black-white);
                border-right: 10px solid transparent;
                transform: translateY(-50%);
              }
            }
          }
          &:last-child {
            margin: 50px 0;
            p {
              margin: 0;
            }
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
.block-settings-right {
  @include size(500px, auto);
  padding: 20px;
  border-left: 1px solid var(--black-white);
}
