@import "../../styles.scss";

.post {
  display: flex;
  margin: 70px 0 0 0;

  &__box {
    @include mx-flexbox();
    width: $full;
    height: fit-content;
    margin: 20px 0 0 0;
  }

  &__yesNo {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    @include mx-flexbox();
    flex-direction: column;
    width: 200px;
    height: 100px;
    @include mx-round(10px);
    background-color: $gray;
    transform: translate(-50%, -50%);
    z-index: 99;
    button {
      width: 50px;
      background-color: $white;
      margin: 0 10px;
    }
  }

  &__form {
    @include mx-flexbox(center, start);
    position: relative;
    height: fit-content;
    padding: 20px;
  }

  &__buttonbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -60px;
    top: 20px;
    height: fit-content;
    &__button {
      height: 50px;
      width: 80px;
      padding: 0;
      margin: 5px 0;
      color: $gray;
      border-radius: 0 10px 10px 0;
      transition: all 0.1s ease-in;
      background-color: $white;
      cursor: pointer;
      &:hover {
        color: var(--black-white);
      }
    }
  }

  &__content {
    margin: 0 20px;
    padding: 0 10px;

    h2 {
      color: $darkColor;
    }

    textarea {
      width: 500px;
      height: 200px;
      padding: 10px;
      border: 0;
      @include mx-round();
      @include font-style(middle);
      background-color: var(--color-element);
      color: var(--black-white);
      resize: none;
    }

    input[type="text"] {
      width: 500px;
      height: 30px;
      padding: 0 10px;
      margin: 0 0 10px;
      border: 0;
      @include mx-round();
      color: var(--black-white);
      background-color: var(--color-element);
      &:focus {
        outline: none;
      }
    }

    p {
      margin: 0;
      font-size: 12px;
      color: $coolblue;
    }
  }

  &__preview {
    @include mx-flexbox();
    flex-wrap: wrap;
    width: 500px;
    margin: 10px 0 0 0;
    padding: 0;
    @include mx-round(15px);
    background-color: var(--color-element);
  }

  &__imgbox {
    position: relative;
    margin: 10px 5px;
    border: 1px solid;
    color: $gray;
    @include size(80px, 80px);
    &:hover &__button {
      display: block;
    }

    &__button {
      display: none;
      position: absolute;
      right: 0;
      @include size(15px, 15px);
      padding: 0;
      border: 0;
      color: $white;
      background-color: $transparent-66;
    }

    &__img {
      @include size(80px, 80px);
    }
  }
}

.tag-example {
  color: #ff0000;
  animation: shake 0.2s;
  animation-iteration-count: 5s;
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4px);
  }
}
