@import "../../styles.scss";

$marginSide: 0 10px;

.block-outter {
  height: fit-content;
  width: 500px;
  margin: automargin();
  padding: 5px 0 0 0;
  border: solid();
  background-color: var(--color-element);
  white-space: pre-line;
  .block-inner {
    width: 450px;
    margin: automargin();
    .block-statusbox {
      color: var(--black-white);
      .block-userstatus {
        @include mx-flexbox(start);
        width: 100%;
        padding: 10px 0;
        border-bottom: solid();
        img {
          @include mx-round($radius);
          @include size(35px, 35px);
        }
        * {
          margin-right: 15px;
        }
      }
      .block-poststatus {
        @include mx-flexbox(start);
        width: 100%;
        border: solid();
        p {
          width: fit-content;
          margin: 0 10px;
          padding: 1px;
          text-align: center;
        }
        /* .btn-likes-01-off {
          width: 25px;
          height: 25px;
          margin: 0 10px;
          transition: all 0.2s ease;
        } */
        .block-poststatus-svg {
          svg {
            width: 35px;
            height: 35px;
          }
        }
        .block-poststatus-meatball {
          position: relative;
          height: 20px;
          width: 20px;
          border: 0;
          margin: 10px;
          padding: 2px;
          @include mx-round(50%);
          &:hover {
            background-color: $gray;
          }
          .block-poststatus-meatball {
            display: none;
            position: absolute;
            top: 5px;
            left: 30px;
            width: fit-content;
            height: fit-content;
            margin: 0;
            padding: 5px 10px;
            @include mx-round(10px);
            color: $white;
            background-color: $coolblue;
            list-style: none;
            &::after {
              position: absolute;
              top: 5px;
              left: -8px;
              width: 0;
              height: 0;
              border-bottom: 8px solid transparent;
              border-top: 8px solid $coolblue;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              content: "";
            }
            li {
              margin: 2px 0;
              button {
                width: 60px;
                border: 0;
                background-color: transparent;
                color: $white;
                @include font-style(middle);
                &:hover {
                  color: $gray;
                }
              }
            }
          }
        }
      }
      .block-textarea {
        flex-grow: 1;
        padding: 10px 0;
      }
      .block-tag {
        max-width: 300px;
        margin: 0 0 10px 0;
        a {
          margin: 0 10px 0 0;
          color: $coolblue;
        }
      }
    }
  }
}

.block-userstatus,
.block-poststatus,
.block-textarea {
  margin: 5px 0;
  padding: 3px;
}
