@import "../styles.scss";

.block-profile-postbox {
  position: relative;
  width: 600px;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid $gray;
  background-color: $white;
  @include mx-round(15px);
  //color: var(--black-white);
  .block-profile-top {
    .block-profile-3 {
      @include mx-flexbox(start);
      .block-profile-postimg {
        @include mx-flexbox();
        height: 50px;
        width: 50px;
        border: 1px solid;
        @include mx-round(50%);
        background-color: $white;
        margin-right: 15px;
        cursor: pointer;
        svg {
          height: 30px;
          width: 30px;
        }
      }
      p {
        margin: 0;
        @include font-style(small, $gray);
      }
    }
    .block-profile-detail {
      @include font-style(middle);
    }
    .block-profile-tag {
      display: flex;
      a {
        margin: 5px 0;
        @include font-style(small, $coolblue);
        font-weight: bold;
        &:hover {
          color: $gray;
        }
      }
    }
  }
  .block-profile-imagebox {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: $white;
    .block-profile-onlyload {
      @include mx-flexbox();
      button {
        border: 0;
        background: none;
        img {
          width: 80px;
          height: 80px;
          margin: 0 5px;
        }
      }
    }
    .block-profile-hidden {
      display: none;
      overflow: hidden;
      padding: 20px;
      .block-profile-overflow {
        @extend %image-default;
        @include mx-flexbox();
        width: 500px;
        height: 500px;
        margin: 0 auto;
        img {
          object-fit: contain;
        }
      }
    }
  }
  .block-profile-comment {
    margin: 10px 0;
    &__click {
      margin: 5px 0;
      @include font-style(small, $coolblue);
      font-weight: bold;
      cursor: pointer;
      user-select: none;
    }
  }
}
