@import "../../getscss.scss";

.block-pagesettings-display {
  p {
    margin: 0;
  }
  .block-darkmode {
    display: flex;
    align-content: center;
    padding: 10px 0;
    div {
      margin: 0 10px;
    }
  }
}
